<p id="notice"><%= notice %></p>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="https://baseball-order-board.herokuapp.com/" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--<h1 align="center">俺が考えた最強のスタメン</h1>-->
<%= render 'form', board_order: @board_order %>
<br>
<!--<div><%= paginate @board_orders %></div>-->
<hr>
<div>copyright YuyaOkayama 2020.</div>